@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
/* .light {
  --color-primary: 211 54 130;
  --color-secondary: 133 153 0;
  --color-background: 246 246 246;
  --color-foreground: 101 123 131;
  --color-separator: 88 110 117;
} */

/* .dark {
  --color-primary: 94 129 172;
  --color-secondary: 129 161 193;
  --color-background: 46 52 64;
  --color-foreground: 216 222 233;
  --color-separator: 76 86 106;
} */
body {
  /* background-color: rgb(var(--color-background)); */
  /* color: rgb(var(--color-foreground)); */
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.group:hover .group-\[hover\]\:visible {
  display: block;
}

/* 滚动条全部默消失 */
::-webkit-scrollbar {
  display: none;
}
